.root {
  --nav-border-width: 2px;
  background-color: var(--nav-secondary-background);
  border-bottom: 1px solid var(--default-border-color);
  border-top: 1px solid var(--default-border-color);
}

.root, .root a {
  color: var(--nav-secondary-text-color);
}

.root :global(.width-wrapper) {
  padding: 0px var(--nav-horizontal-padding) 0 28px;
}

.root li {
  margin-left: 0;
}
